<form class="form booking-form">
  <h2>Reserve Spot</h2>

  <!-- Calendar -->
  <ngb-datepicker
    [displayMonths]="1"
    [navigation]="'arrows'"
    [outsideDays]="'collapsed'"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [markDisabled]="isDisabled"
    (dateSelect)="onDateSelect($event)">
  </ngb-datepicker>

  <!-- Start/End Dates -->
  <div class="date-actions">
    <div class="date-fields">
      <div class="date-labels">
        <label class="small-label">Start Date:</label>
        <span class="date-value">{{ start || '—' }}</span>
      </div>
      <div class="date-labels">
        <label class="small-label">End Date:</label>
        <span class="date-value">{{ end || '—' }}</span>
      </div>
    </div>

    <div class="buttons-wrapper">
      <button class="action-btn confirm-btn" type="button" (click)="submit()" [disabled]="busy()">Reserve</button>
<!--      <button class="action-btn cancel-btn" type="button" routerLink="/search">Cancel</button>-->
      <button  class="action-btn cancel-btn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <!-- Messages -->
  <div class="err" *ngIf="err">{{ err }}</div>
  <div class="ok"  *ngIf="ok">{{ ok }}</div>
</form>
